<div class="ds-wrapper">
    <mat-paginator  [pageSizeOptions]="[5,10, 20, 25, 30]"></mat-paginator>
    <div class="actions">
      <div class="search-container">
        <img src="../../assets/images/search.jpg" class="search">
        <input type="search" placeholder="search">
     </div>
     <div>
      <a [routerLink]="['/dashboard/staff/add/basic-info']" class="add-link">
        <span>Add Staff</span>
        <span>+</span>
      </a>
     </div>
    </div>
    <table mat-table  [dataSource]="dataSource">
      <ng-container matColumnDef="indx">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let item"> {{item.indx}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Staff_Name">
        <th mat-header-cell *matHeaderCellDef>Staff Name </th>
        <td mat-cell *matCellDef="let item"> {{item.Staff_Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Department">
        <th mat-header-cell *matHeaderCellDef>Department </th>
        <td mat-cell *matCellDef="let item"> {{item.Department}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let item"> {{item.Email}} </td>
      </ng-container>

      <ng-container matColumnDef="Courses">
        <th mat-header-cell *matHeaderCellDef> Courses </th>
        <td mat-cell *matCellDef="let item"> {{item.Courses}} </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let item"> {{item.Role}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let item"> {{item.Action}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
  