
<div class="ds-wrapper">
    <mat-paginator  [pageSizeOptions]="[5,10, 20, 25, 30]"></mat-paginator>
    <div class="actions">
      <div class="search-container">
        <img src="../../assets/images/search.jpg" class="search">
        <input type="search" placeholder="search">
     </div>
     <div>
      <a [routerLink]="['/dashboard/departments/add']" class="add-link">
        <span>Add Departments</span>
        <span>+</span>
      </a>
     </div>
    </div>
    <table mat-table  [dataSource]="dataSource">
      <ng-container matColumnDef="indx">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let item"> {{item.indx}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Department_Name">
        <th mat-header-cell *matHeaderCellDef>Department Name </th>
        <td mat-cell *matCellDef="let item"> {{item.Department_Name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Number_Programs">
        <th mat-header-cell *matHeaderCellDef> Number of Programs </th>
        <td mat-cell *matCellDef="let item"> {{item.Number_Programs}} </td>
      </ng-container>

      <ng-container matColumnDef="Number_Students">
        <th mat-header-cell *matHeaderCellDef>Number of Students </th>
        <td mat-cell *matCellDef="let item"> {{item.Number_Students}} </td>
      </ng-container>

      <ng-container matColumnDef="Number_Lecturers">
        <th mat-header-cell *matHeaderCellDef>Number of Lecturers </th>
        <td mat-cell *matCellDef="let item"> {{item.Number_Lecturers}} </td>
      </ng-container>

      <ng-container matColumnDef="HOD_Name">
        <th mat-header-cell *matHeaderCellDef>HOD Name </th>
        <td mat-cell *matCellDef="let item"> {{item.HOD_Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let item"> {{item.Action}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
  