<div class="container" >
    <img src="../../../assets/images/umLogo.png"  alt="logo">
    <main>
       <div class="f0f">
         <p class="status"> 404</p>
         <p class="message">Page not found</p>
       </div>
       <div class="guide">
        <ol>
            <li>Verify if the url exists</li>
            <li>Check out for typographical errors in the url</li>
            <li>Reach out for assistance</li>
        </ol>
       </div>
    </main>
    <div class="available-routes">
      <p><b>Available Pages</b></p>
      <ul *ngFor="let route of routes">
        <li>
          <a [routerLink]="[route.path]">{{route.component}}</a>
        </li>
      </ul>
    </div>
</div>
