<section class="ds-wrapper">
    <div class="heading">
        <h2 class="cnt-heading">Faculties/</h2>
        <div class="back">
                <ul class="add-nav">
                    <li><a [routerLink]="['all']" routerLinkActive="active">All Faculties</a></li>
                    <li><a [routerLink]="['departments']" routerLinkActive='active'>Departments</a></li>
                    <li><a [routerLink]="['lecturers']" routerLinkActive='active'>Lecturers</a></li>
                </ul>
            </div>
        </div>
   <router-outlet>
   </router-outlet>
</section>

