<div class="Authwrapper">
    <legend>
        <h1>Forgot Password</h1>
    </legend>
    
<form (submit)="onFormSubmit(loginForm)"  #loginForm="ngForm" class="authForm">
    <p class="fgtm">
        Enter the email address you used when you 
        joined and we’ll send you an instructions to
        reset your password
    </p>
    <fieldset>
        <label for="loginEmail">
            Email
        </label>
        <input type="email" placeholder="Admin@umat.edu.gh" ngModel name="email" required id="loginEmail">
    </fieldset>
    <button type="submit">Send recovery code</button>
    <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" class="backLink">
        <img src="../../../../assets/images/arrow.png" alt="back" class="back">
        Back to sign in
    </a>
</form>
</div>
