.container{
    background-color:  #ECEFF3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

main{
    width: 100%;
    max-width: 350px;
}

img{
    height: auto;
    width: 60px;
    margin: auto;
}