<section class="ds-wrapper">
    <div class="heading">
        <h2 class="cnt-heading">Add Staff</h2>
        <div class="back">
            <a [routerLink]="['/dashboard/faculties/staff']"  class="backLink">
                <img src="../../../../assets/images/arrow.png" alt="" class="back">
                Back 
            </a>
                <ul class="add-nav">
                    <li><a [routerLink]="['basic-info']" routerLinkActive="active">Basic Info</a></li>
                    <li><a [routerLink]="['account-settings']" routerLinkActive='active'>Account Settings</a></li>
                </ul>
            </div>
        </div>
   <router-outlet></router-outlet>
</section>
