legend{
    font-weight: 500;
}

form{
    width: 80vw;
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    justify-content: flex-start;
}

.inputs-cnt{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    column-gap: 8%;
}

fieldset{
width: 46%;
}

.username-cnt>fieldset{
    width: 100%;
}

.btn-cnt{
    display: flex;
    gap: 20px;
}


.btn-cnt>button{
    width: 100px;
    border: 1px solid #009688;
}

.cancel{
    background-color: white;
    color: #009688;
}


 