<div class="Authwrapper">
    <legend>
        <h1>Create New Password</h1>
    </legend>
    
<form (submit)="onFormSubmit(loginForm)"  #loginForm="ngForm" class="authForm">
    <p class="fgtm">
        Pleases create your new password, don’t use
        your old password
    </p>
    <fieldset>
        <label for="loginEmail">
            New Password
        </label>
        <input type="password" ngModel name="password1" required id="loginEmail">
    </fieldset>
    <fieldset>
        <label for="loginEmail">
            Confirm Password
        </label>
        <input type="password" ngModel name="password2" required id="loginEmail">
    </fieldset>
    <button type="submit">Reset password</button>
    <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" class="backLink">
        <img src="../../../../assets/images/arrow.png" alt="back" class="back">
        Back to sign in
    </a>
</form>
</div>
