.wrapper{
    background: linear-gradient(90deg, #009688 57.82%, rgba(0, 150, 136, 0.60) 123.01%);
    display: flex;
    padding-top: 20px;
}


.side-bar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
    align-items: center;
    background: #262626;

}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #009688;
    padding-bottom: 40px;
}

.umLogo{
    margin-bottom: 13px;
}

.name{
color: white;
font-family: "Inter";
font-size: 25px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.4px;
text-align: center;
}

.main-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 0;
    width: 100%;
}

.nav-text, a{
    color:  #FDFEFF;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.4px;
}


.nav-heading{
    border-bottom: 1px solid white;
    padding-bottom: 14px;
    text-align: center;
}

ul{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-self: center;
    padding-top: 30px;
}

li{
    list-style: none;
}


.active{
    color: #009688;
}

.actions-container{
display: flex;
padding: 0px 10px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
border-radius: 8px;
background: #212121;
}

.action{
    border-bottom: 1px solid #303035;
    background: inherit;
    display: flex;
    padding: 15px 2px;
    cursor: pointer;
    gap: 15px;
}

.action-name{
    width: 520%;
    text-align: left;
}


section{
    display: flex;
    flex-direction: column;
    flex: 9;
    gap: 45px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.search-container{
    position: relative;
    width: 47%;
}

.search{
width: 18px;
height: 18px;
flex-shrink: 0;
position: relative;
top: 33px;
left: 30px;
}

input[type=search]{
    height: 40px;
    padding: 8px 50px 8px 55px;
    align-items: center;
    flex-shrink: 0; 
    font-size: 16px;
    border-radius: 6px;
   border: 1px solid  #D0D7DE;
   background: #FFF;
   box-shadow: 0px 1px 2px 0px rgba(27, 31, 35, 0.08) inset;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    align-self: flex-end;
    width: 12%;
}

.usr-icon{
    width: 25px;
height: 25px;
}

.usr{
    width: 32px;
    height: 32px; 
}

main{
    border-radius: 16px 16px 0px 0px;
background: #ECEFF3;
height: 90vh;
}


