<div class="wrapper">
   <div class="side-bar">
      <div class="brand">
        <img src="../../assets/images/umLogo.png" alt="umat" class="umLogo">
        <p class="name">UMAT</p>
      </div>
      <div class="main-nav">
        <p class="nav-heading nav-text">Main Navigation</p>
        <nav>
            <ul>
                <li class="nav-text">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active" >
                    Dashboard
                    </a>
                </li>
               <div class="actions-container">
                <li>
                    <button class="nav-text action" >
                        <span class="action-name">University Setup</span> <span>+</span>
                    </button>
                    <button class="nav-text action" >
                        <span class="action-name">University Setup</span> <span>+</span>
                    </button>
                    <button class="nav-text action" >
                        <span class="action-name">University Setup</span> <span>+</span>
                    </button>
                </li>
            </div>
            <li class="nav-text">
                <a [routerLink]="['/analyses']" routerLinkActive="active" >
                <img src="" alt="" class="icon">
                Analytics
                </a>
            </li>
                
            </ul>
          </nav>
      </div>
     
   </div>
   <section>
    <header>
     <div class="search-container">
        <img src="../../assets/images/search.jpg" class="search">
        <input type="search" placeholder="search">
     </div>
     <div class="user">
        <a [routerLink]="['/notifications']" routerLinkActive="router-link-active" >
            <img src="../../assets/images/bell.png" alt="" class="usr-icon">
        </a>
        <a [routerLink]="['/settings']" routerLinkActive="router-link-active" >
            <img src="../../assets/images/settings.png" alt="" class="usr-icon">
        </a>
        <a [routerLink]="['/account']" routerLinkActive="router-link-active" >
            <img src="../../assets/images/user.png" alt="" class="usr">
        </a>
     </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
   </section>
</div>
