.wrapper{
    background: #ECEFF3;
    display: flex;
}


.side-bar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
    align-items: center;
    background: #262626;
    height: auto;
    overflow-y: auto;
    min-height: 80vh;
}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #009688;
    padding-bottom: 40px;
    padding-top: 40px;
}

.umLogo{
    margin-bottom: 13px;
    width: 60px;
}


.name{
color: white;
font-family: "Inter";
font-size: 35px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.4px;
text-align: center;
}

.main-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 0;
    width: 100%;
}

 a, .nav-text{
    color:  #FDFEFF;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.4px;

}


.nav-item{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.nav-item>img{
    width: 15px;
    height: 15px;
}


.sub-actions{
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0px 5px;
    gap: 35px;
}

.nav-heading{
    border-bottom: 1px solid white;
    padding-bottom: 14px;
    text-align: center;
}

ul{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-self: center;
    padding-top: 30px;
}

li{
    list-style: none;
}


.active{
    color: #009688;
}

.actions-container{
display: flex;
padding: 0px 10px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
border-radius: 8px;
background: #212121;
}

.action{
    border-bottom: 1px solid #303035;
    background: inherit;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    cursor: pointer;
}

.action-name{
    display: flex;
    flex: 15;
}

.action>span:nth-child(2){
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 20px;
}


section{
    display: flex;
    flex-direction: column;
    flex: 9;
    justify-content: flex-start;
    background-color: #009688;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 18vh;
   border-radius: 0 0 16px 16px;

}

.search-container{
    position: relative;
    width: 47%;
    display: flex;
    align-items: center;
}

.search{
width: 18px;
height: 18px;
flex-shrink: 0;
position: relative;
top: 1px;
left: 37px;
}

input[type=search]{
    height: 40px;
    padding: 8px 50px 8px 55px;
    align-items: center;
    flex-shrink: 0; 
    font-size: 16px;
    border-radius: 6px;
   border: 1px solid  #D0D7DE;
   background: #FFF;
   box-shadow: 0px 1px 2px 0px rgba(27, 31, 35, 0.08) inset;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    align-self: center;
    width: 12%;
}

.usr-icon{
    width: 25px;
height: 25px;
}

.usr{
    width: 32px;
    height: 32px; 
}

main{
background: #ECEFF3;
min-height: 99vh;
border-radius: 16px 16px 0px 0px;
padding-top: 20px;
}


