<section class="ds-wrapper">
    <div class="heading">
        <h2 class="cnt-heading">Faculties/Students</h2>
        <div class="back">
                <ul class="add-nav">
                    <li><a [routerLink]="['all']" routerLinkActive="active">All Students</a></li>
                    <li><a [routerLink]="['HND']" routerLinkActive='active'>HND</a></li>
                    <li><a [routerLink]="['bachelors']" routerLinkActive='active'>Bachelors</a></li>
                    <li><a [routerLink]="['masters']" routerLinkActive='active'>Masters</a></li>
                    <li><a [routerLink]="['doctorate']" routerLinkActive='active'>Doctorate</a></li>
                    <li><a [routerLink]="['topup']" routerLinkActive='active'>Topup</a></li>
                </ul>
            </div>
        </div>
   <router-outlet>
   </router-outlet>
</section>